
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

div.polaroid {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  text-align: center;
  font-size: 0.95rem;
  padding: 10px 20px;
}


.overlay {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 75.5%;
  background-color: rgb(255, 255, 255, 0.6);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.hotel {
  font-size: 1.5rem;
}

.center {
  text-align: center;
  font-size: 1rem;
  margin-top: 2%;
}