
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.container1 {
  max-width: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .container1 > .div1 {
    margin: 1%;
    max-width: 100%;
    min-width: 50%;
    flex: 1;
    background-color: white;
    padding: 0.5%;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    
  }

}

@media only screen and (min-width: 701px) {
  .container1 > .div1 {
    margin: 1%;
    max-width: 100%;
    min-width: 40%;
    flex: 1;
    background-color: white;
    padding: 0.5%;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    
  }

}

@media only screen and (min-width: 768px) {
  .container1 > .div1 {
    margin: 1%;
    max-width: 100%;
    min-width: 40%;
    flex: 1;
    background-color: white;
    padding: 0.5%;
    font-size: 1rem;
    text-align: center;
    align-items: center;
    
  }

}

.container {
  text-align: center;
  font-size: 0.95rem;
  margin: 1%;
}


.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 3%;

}


.overlay {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 75.5%;
  background-color: rgb(255, 255, 255, 0.6);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.hotel {
  font-size: 1.5rem;
}

.center {
  text-align: center;
  font-size: 1rem;
  margin-top: 2%;
}