#counter {
  color: olive;
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 2rem;
 
}

.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.polaroid > img {
  display: flex;
  padding: 1%;
  width: 100%;
}

.container {
    display: flex;
    margin: 1%;
    background-color: rgba(214, 255, 235, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .book {
    display:flex;
  }