html {
  
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 100;
  font-variant: small-caps;
  background-color: white;
  font-size: 100%;
  box-sizing: border-box;
}


body {
  margin-left: 250px;
  margin-right: 250px;
}

header {
  background: url("../img/green.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items:center;
  line-height: 25px;
}

footer {
  background: url("../img/green.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 0.9rem;
}

.center {
  text-align: center;
}


.top-page {
  position: relative;
}


.crop {
  object-fit: cover;
  height: 290px;
  width: 100%;
}


a:link {
  text-decoration: none;
  color: Black;
}

a:visited {
  text-decoration: none;
  color: Black;
}

a:hover {
  text-decoration: none;
  color: Black;
  cursor: pointer;
}

a:active {
  text-decoration: none;
  color: Black;
}

