html {
  
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 100;
  font-variant: small-caps;
  background: url("./paper_fibres.png") no-repeat;
  background-size: cover;
}

body {
  text-align: center;
}

body.pages {
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
 
}



header {
  background: url("./green.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}


hr.style-1 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

hr.style-2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

th {
  font-size: 18px
  text-align: center;
}



.book {
  height: 100px;
  width: 400px;
}


.form {
  margin-left: 300px;
  margin-right: 300px;
  text-align: center;
  border-radius: 25px;
  background-color: rgb(255, 255, 255, 0.6);
  
}

table {
  margin-left: 10px;
  margin-right: 10px;
}

img {
  border-radius: 25px;
}



.shadow {
  box-shadow: 0 0 15px 15px;
  border-radius: 100px;
}

a:link {
  text-decoration: none;
  color: Black;
}

a:visited {
  text-decoration: none;
  color: Black;
}

a:hover {
  text-decoration: none;
  color: Black;
}

a:active {
  text-decoration: none;
  color: Black;
}

#full-name {
  border-style: inset;
  border-color: DarkGray;
  border-radius: 10px;
}

textarea {
  border-style: inset;
  border-color: DarkGray;
  border-radius: 10px;
  padding: 7px 8px
}

input[type=submit] {
  background-color: FloralWhite;
  color: DarkSlateGray;
  cursor: pointer;
  border-radius: 25px;
}

/*
<a href="https://www.freevector.com/holographic-pastel-background-30240">FreeVector.com</a>

Background Photos from  <a href="https://pngtree.com/free-backgrounds">pngtree.com</a>
*/